!!! 5
html
  head
    title Tweeter Streamer - Server-Side Events demo
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Istok+Web:400,700', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
  body
    div#content!= body
  script(src='/javascripts/mootools-core-1.4.0.js')
  script(src='/javascripts/sse.js')